  <div class="we-excercise-card">
    <div class="we-image-div">
      <%= cl_image_tag(exercise.photo.key) %>
    </div>

    <div class="we-exercise-name">
      <h3><strong><%= exercise.name %></strong></h3>
    </div>

    <div class ="we-few-content-right">
      <div>
        <strong><%= exercise.difficulty %></strong>
        <%= link_to "Edit",  edit_workout_workout_exercise_path(workout_exercise.workout_id, workout_exercise.id), class:"edit-icon"%>
      </div>
    </div>
  </div>
