// Define variables for your color scheme

// For example:
$red: #fd1010; // changed to orange for app
$blue: #166efb;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #32d91f; //changed to blue for app
$gray: #0E0000;
$light-gray: #F4F4F4;

// $flexbox-blue: #16b6fb;  currently defunct

$flexbox-orange: #EE6C4D;
$flexbox-orange-hover: #a84b34;

$flexbox-baby: #E9E9E9;
// $flexbox-baby: #94A8B3;
$flexbox-baby-hover: #c4d3d4;
// $flexbox-baby-hover: #94A8B3;

$flexbox-slate: #293241;

$flexbox-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
$flexbox-shadow-hover: 2px 2px 5px 3px rgba(0, 0, 0, 0.35);

$flexbox-white-hover:rgb(232, 232, 232);

$flexbox-secondary: #a5c8db;
$flexbox-secondary-hover: #91abb9
