// Define variables for your color scheme

// For example:
$red: #fd1010; // changed to orange for app
$blue: #166efb;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #32d91f; //changed to blue for app
$gray: #0E0000;
$light-gray: #F4F4F4;


$flexbox-orange: #E67E22;
$flexbox-blue: #16b6fb;

$flexbox-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
