// Define variables for your color scheme

// For example:
$red: #fd1010; // changed to orange for app
$blue: #166efb;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #32d91f; //changed to blue for app
$gray: #0E0000;
$light-gray: #F4F4F4;

// $flexbox-blue: #16b6fb;  currently defunct

$flexbox-orange: #EE6C4D;
$flexbox-orange-hover: #a84b34;

$flexbox-baby: #E0FBFC;
$flexbox-baby-hover: #c4d3d4;

$flexbox-slate: #293241;

$flexbox-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
