// .dashboard-container {
//   width: 80%;
//   // height: 750px;
//   padding-left: 70px;
//   padding-right: 70px;
//   padding-top: 20px;
//   padding-bottom: 30px;
//   background: #FFFFFF;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   border-radius: 10px 10px 10px 10px;
//   margin-top: 25px;
// }

.dash-content-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85vw;
  margin-top: 30px;
}

.content-div {
  background-color: $flexbox-baby;
}

.home-h1 h1 {
  // display: flex;
  margin-top: 100px;
  align-self: flex-start;
  // width: 1240px;
  font-size: 60px;
}

.home-cards-container {
  display: flex;
  flex-direction: column;
  width: 36vw;
  height: 275px;
  // min-height: 700px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #FFFFFF;
  box-shadow: $flexbox-shadow;
  border-radius: 10px 10px 10px 10px;
  // margin-top: 25px;
}

.home-cards-container-down {
  // top: 0px;
  display: flex;
  width: 47.5vw;
  flex-direction: column;
  height: 275px;
  // min-height: 700px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #FFFFFF;
  box-shadow: $flexbox-shadow;
  border-radius: 10px;
  // margin-top: 10px;
  // margin-bottom: 20px;
}

.dash-content-div-top {
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
  // flex-grow: 2;
  // min-height: 100vh;
  width: 100%;
  // min-height: 700px;
  padding-right: 50px;
  padding-left: 50px;
  // margin-bottom: -50px;
  margin-top: 30px;
}

.dash-content-div-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // flex-grow: 2;
  // min-height: 100vh;
  width: 85vw;
  // min-height: 700px;
  margin-bottom: 100px;
  margin-top: 30px;
}

.home-container-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 425px;
  // min-height: 700px;
  padding: 35px 50px 25px 50px;
  background: #FFFFFF;
  box-shadow: $flexbox-shadow;
  border-radius: 10px;
  // margin-top: 25px;
  // margin-right: 5px;
}

.fav-workouts-grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.fav-workouts-grid-down {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 37px;
  grid-row-gap: 37px;


}

.recent-workouts-grid {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: $flexbox-shadow;
  transition-duration: 0.5s;
}

.recent-workouts-grid:hover {
  box-shadow: $flexbox-shadow-hover;
  transition-duration: 0.5s;
}

.card-add-new-workout-top {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EE6C4D;
  color: black;
  // margin-top: -5px;
  // margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: $flexbox-shadow;
  width: 200px;
  height: 180px;
  transition-duration: 0.5s;
  padding-left: 10px;
  padding-right: 10px;
}

.card-add-new-workout-top:hover {
  box-shadow: $flexbox-shadow-hover;
  transition-duration: 0.5s;
}

.card-all-workouts-down {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EE6C4D;
  color: black;
  border-radius: 10px;
  box-shadow: $flexbox-shadow;
  width: 350px;
  height: 300px;
  transition-duration: 0.5s;
}

.card-all-workouts-down:hover {
  box-shadow: $flexbox-shadow-hover;
  transition-duration: 0.5s;
}

.workout-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: $flexbox-shadow;
  background-color: white;
  width: 350px;
  height: 300px;
  transition-duration: 0.5s;
  margin-bottom: 11px;
}

.workout-card:hover {
  box-shadow: $flexbox-shadow-hover;
  transition-duration: 0.5s;
}

.workout-card > img {
  height: 50%;
  width: 100%;
  border-radius: 10px 0px 0px 0px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}


.workout-card .workout-card-info {

  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  height: calc(50% - 10px);
  margin-top: 10px;
}

.recent-workout-list-card-left {
  width: 112px;
  height: 50px;
}

.recent-workout-list-card-left > img {
  // width: 112px;
  // object-fit: cover;
  // height: 80px;
  height: 50px;
  object-fit: cover;
  border-radius: 7px 0px 0px 7px;
}

.recent-workout-list-card-right {
  width: 1200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recent-workout-list-card-right-most {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nw-text-h1 {
  // margin-left: -5px;
  margin-bottom: 10px;
  border-radius: 50%;
}


.dashboard-emoji {
  padding-right: 10px;
  margin: 0;
}

.dashboard-completed {
  margin: 0;
  padding: 0px 0px 0px 30px;
}

.completed-cards-container {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favourites-btn {
  text-align: center;
}

.dashboard-link-container {
  height: 300px;
  width: 350px;
}
