.we-page {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.we-exercises {

  text-align: center;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.we-excercise-card {
  border-radius: 7px;
  margin-bottom: 8px;
  background: white;
  border: 1px solid rgb(235,235,235);
  width: 600px;
  display: flex;
  transition-duration: 0.5s;
  height:80px;
  align-items: center;
  justify-content: space-between;
}


.we-exercise-name  {
  flex: 3;
  display: flex;
  padding-left: 24px;
  align-items: center;
  padding-right: 55px;
}

.we-few-content-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 172px;
  font-size: 30px;
  padding-right: 16px;
}

.we-excercise-card img {
  height: 78px;
  object-fit: cover;
  border-radius: 7px 0px 0px 7px;
}


.we-image-div {
  width: 122px;
}

.we-exercises h2 {
  text-align: center;
}

.we-nw-card {
  border-radius: 7px;
  margin-bottom: 8px;
  background: white;
  border: 1px solid rgb(235,235,235);
  width: 100%;
  background-color: #EE6C4D;

  color: #293241;
  // transition-duration: 0.5s;
  height:80px;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

.we-form {
  width: 450px;
  text-align: center;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.save-workout-button {
  background-color: #EE6C4D;
  margin-top: 15px;
  color: #293241;
  padding: 13px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
  font-size: 30px;
  border-radius: 8px
}

.save-workout-button:hover {
  background-color: #db5635 !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
}

.nw-title {
  margin-bottom: 20px;
}

#new-we-form {
  display: none;
}

.edit-we-form {
  display: none;
}

.delete-we-form {
  display: none;
}
