.logo {
  position: absolute;
  left: 8px;
  top: 8px;
}

.hp-background {
  height: 100vw;
  width: 100%;
  background: url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?cs=srgb&dl=pexels-leon-ardho-1552242.jpg&fm=jpg") no-repeat center fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(66, 66, 66, 0.3);

}

.hp-navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100px;
  width: 100vw;
  // margin-top: 10px;
}

.hp-navbar-right {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  padding: 0;
  font-weight: 300;
}

.hp-text {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 40vw;
  padding: 4px;
  color: white;
  font-size: 30px;
  background-color:rgba(66, 66, 66, 0.4);
}
