
.nw-container {
  width: 50vw;
  margin: 28px;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: grey;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.nw-title h2 {
  font-size: 50px;
}


.nw-exercises {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.nw-buttons {
  align-self: flex-start;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.form-check {
  display: inline;
}

.workout_photo{
  display: flex;
  justify-content: space-evenly;
    .optional{
      margin-right: 10px;
    }
}

.nw-form-container h2{
  padding-bottom: 20px;
}

.col-form-label {
  color: #6d757d;
}

.col {
  .workout_category {
    // border: 1px solid #d1d6dd;
    // border-radius: 10px;
    padding-bottom: 20px;
  }
}

.file {
  .optional {
    color: #6d757d;
    margin-top: 15px;
  }
}

.collection_radio_buttons {
  color: #6d757d;
 padding-right: 10px;
}

.form-group {
  .workout_photo{
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
}

.category-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;

}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: center;
  padding: 10px;
  border: 1px solid #EAEAEA;
  border-radius: 10px;
  background-color: white;
}

.category-selector:checked + label {
  color: #293241;
}


#workout_category_warmup + label {
  color: #293241;
}

#workout_category_warmup:checked + label {
  background-color: #EE6C4D;
  border-color: #EE6C4D;
}


#workout_category_weights + label {
  color: #293241;
}

#workout_category_weights:checked + label {
  background-color: #EE6C4D;
  border-color: #EE6C4D;
}


#workout_category_cardio + label {
  color: #293241;
}

#workout_category_cardio:checked + label {
  background-color: #EE6C4D;
  border-color: #EE6C4D;
}

#workout_difficulty_11 + label {
  color: white;
}

#workout_difficulty_11:checked + label {
  background-color: #EE6C4D;
  color: #EE6C4D;
  border-color: #EE6C4D;
}

#workout_difficulty_22 + label {
  color: white;
}

#workout_difficulty_22:checked + label {
  background-color: #EE6C4D;
  color: #EE6C4D;
  border-color: #EE6C4D;
}

#workout_difficulty_33 + label {
  color: white;
}

#workout_difficulty_33:checked + label {
  background-color: #EE6C4D;
  color: #EE6C4D;
  border-color: #EE6C4D;
}

#workout_difficulty_44 + label {
  color: white;
}

#workout_difficulty_44:checked + label {
  background-color: #EE6C4D;
  color: #EE6C4D;
  border-color: #EE6C4D;
}

#workout_difficulty_55 + label {
  color: white;
}

#workout_difficulty_55:checked + label {
  background-color: #EE6C4D;
  color: #EE6C4D;
  border-color: #EE6C4D;
}
