
.nw-container {
  width: 50vw;
  margin-top: 28px;
  align-items: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: grey;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.nw-title h2 {
  font-size: 50px;
}


.nw-exercises {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.nw-buttons {
  align-self: flex-start;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.form-check {
  display: inline;
}

.workout_photo{
  display: flex;
  justify-content: space-evenly;
    .optional{
      margin-right: 10px;
    }
}

.nw-form-container h2{
  padding-bottom: 20px;
}

.col-form-label {
  color: #6d757d;
}

.col {
  .workout_category {
    // border: 1px solid #d1d6dd;
    // border-radius: 10px;
    padding-bottom: 20px;
  }
}

.file {
  .optional {
    color: #6d757d;
    margin-top: 15px;
  }
}

.collection_radio_buttons {
  color: #6d757d;
 padding-right: 10px;
}

.form-group {
  .workout_photo{
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
}
