.workout-card-index-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 50px;
}


.workout-name {
font-size: 30px;
width: 50%;
margin-left: 10px;
padding-top: 10px;
}

.workout-card-info-index > img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  height: 50%;
}


.workout-card-info-index {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  width: 350px;
  height: 300px;
  transition-duration: 0.5s;
  position: relative;
}


.workout-card-text {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  height: calc(50%);
  background-color: white;
  border-radius: 0px 0px 7px 7px;
  transition-duration: 0.5s;
}

.workout-card-text:hover {
  background-color: rgb(232, 232, 232);
  transition-duration: 0.5s;
}

.workout-card-image {
  height: calc(50% + 10px);
}

.workout-card-time {
  position: absolute;
  right: 15px;
  bottom: 10px;
  margin: 0
}
.workout-card-emoji {
  position: absolute;
  right: 15px;
  top: 10px;
}
.workout-card-category {
  position: absolute;
  right: 15px;
  top: 40px;
}

.workout-card-sport {
  position: absolute;
  left: 15px;
  bottom: 10px;
  margin: 0
}


.workout-card-index {
  a {
    text-decoration: none;
    color: black;
  }
}

.workouts-heading {
  align-self: flex-start;
  margin: 30px 0 30px 100px;
}

.workout-index-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0;
}

.favourite-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4px;
  right: 4px;
  width: 50px;
  height: 50px;
  }

.favourite-icon {
  font-size: 30px;
  color: rgb(192, 192, 192);
  opacity: 0.6;
  text-shadow: 0px 0px 0px black;
  transition: opacity 0.5s, text-shadow 0.5s, color 0.5s, font-size 0.05s;
}

.favourite-icon:hover {
  color: #ED846C;
}

.favourite-icon:active {
  font-size: 28px;
}

.active-icon {
  opacity: 1;
  color: #ED846C;
  text-shadow: 5px 5px 10px black;
  transition: opacity 0.5s;
  transition: text-shadow 0.5s;
}
