.ws-container {
  width: 65%;
}

.ws-exercises {
  padding-right: 20px;
  padding-left: 20px;
  overflow-y: auto;

  height: 550px;
}

.ws-details {
  text-align: center;

}

.ws-excercise-card {
  border-radius: 7px;
  margin-bottom: 8px;
  background: white;
  border: 1px solid rgb(235,235,235);
  width: 100%;
  display: flex;
  transition-duration: 0.5s;
  height:80px;
  align-items: center;
}

.ws-excercise-card:hover {
  height: 374px;
  width: 100%;
  transition-duration: 0.5s;
  justify-self: center;
}

.ws-few-content {
  display: flex;
  justify-content: space-between;


}

.ws-exercise-name  {
  flex: 3;
  display: flex;
  padding-left: 24px;
  align-items: center;
}

.ws-few-content-right {
  display: flex;
  align-items: center;
  width: 74px;
  font-size: 30px;
  // flex: 1;
}



.ws-excercise-card img {
  height: 80px;
  object-fit: cover;
  border-radius: 7px 0px 0px 7px;
}

.ws-excercises {
  width: 100%;
}

.ws-image-div {
  width: 122px;

}

.ws-icons {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 20px;
  text-align: left;
}
