.workout-card-index-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}


.workout-name {
font-size: 30px;
width: 50%;
margin-left: 10px
}

.workout-card-info-index > img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
  height: 50%;
}


.workout-card-info-index {
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background-color: white;
  width: 350px;
  height: 300px;
  transition-duration: 0.5s;
  position: relative;
}

.workout-card-info-index:hover {
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  transition-duration: 0.5s;
}

.workout-card-text {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  height: calc(50% - 10px);
  margin-top: 10px;
}

.workout-card-time {
  position: absolute;
  right: 15px;
  bottom: 10px;
  margin: 0
}
.workout-card-emoji {
  position: absolute;
  right: 15px;
  top: 0px;
}
.workout-card-category {
  position: absolute;
  right: 15px;
  top: 40px;
}

.workout-card-sport {
  position: absolute;
  left: 15px;
  bottom: 10px;
  margin: 0
}


.workout-card-index {
  a {
    text-decoration: none;
    color: black;
  }
}

.workouts-heading {
  align-self: flex-start;
  margin: 30px 0 30px 100px;
}

.workout-index-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0;
}

.favourite-icon {
  position: absolute;
  top: 4px;
  left: 303px;
  font-size: 30px;
  color: #FB7D7D;
  opacity: 0.8;
}
