<div class="footer">
  <div class="footer-items">
    <div class="footer-item-contact">Contact us</div>
  </div>
  <% gh = ["https://github.com/TomJAllen", "https://github.com/bkit13", "https://github.com/LamoG6", "https://github.com/oliverbarnes1"] %>
  <% git = gh.sample %>

  <div class="footer-items">
  <%= link_to git , target: :_blank, id: "bolt" do %>
    <div class="copy">Web Design by B.O.L.T.<br>Flexbox |  © 2021</div>
  <% end %>
  </div>

  <div class="sm-bar">
  <%= link_to "https://i.kym-cdn.com/photos/images/facebook/001/361/242/82a.jpg", target: :_blank do %>
    <i class="fab fa-facebook-square"></i>
  <% end %>
  <%= link_to "https://filmdaily.co/wp-content/uploads/2021/03/instagram-lede-2-1300x1303.jpg", target: :_blank do %>
    <i class="fab fa-instagram-square"></i>
  <% end %>
  <%= link_to "https://github.com/oliverbarnes1/flexbox", target: :_blank do %>
    <i class="fab fa-github-square"></i>
  <% end %>
  </div>
</div>

<script>
  const gh = ["https://github.com/TomJAllen", "https://github.com/bkit13", "https://github.com/LamoG6", "https://github.com/oliverbarnes1"]
  const bolt = document.getElementById("bolt")
  bolt.addEventListener("click", ()=> {
    bolt.href = gh[Math.round((Math.random()*10)%3)]
  })
</script>
