<div class="navbar">
  <ul class="navbar-items">
    <li class="navbar-item">Linkyboi</li>
    <li class="navbar-item">Linkyboi</li>
    <li class="logo-placeholder">Flexboooox</li>
    <li class="navbar-item">Linkyboi</li>
    <li class="navbar-item">Linkyboi</li>
  </ul>
</div>
