.button-primary {
  background-color: #EE6C4D;
  border: none;
  color: #293241;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 16px 16px;

}

.button-secondary {
  border: none;
  color: #293241;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #E0FBFC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 16px 16px;
}


.add-exercise-button {
  background-color: #EE6C4D;
  width: 100%;
  border: none;
  color: #293241;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.add-workout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EE6C4D !important;
  width: 150px;
  border: none;
  color: #293241;
  height: 50px;
  text-decoration: none;
  font-size: 72px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  font-size: 50px;
  transition-duration: 0.5s;
}

.add-workout-button:hover {
  background-color: #b4563f !important;
  transition-duration: 0.5s;
}

.add-workout-button-text {
  font-size: 100px;
}

.workout-index-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px 0;
}
