.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #293241;
  color: white;
  padding-right: 55px;
  padding-left: 55px;
}

.footer-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style-type: none;
  padding: 0;
  font-weight: 300;
  transition-duration: 0.3s
}

.footer-item {
  text-align: center;
  transition-duration: 0.3s;
}

.copy {
  text-align: center;
  transition-duration: 0.3s;
  margin-right: -30px;
}

.copy i {
  font-size: 20px;
}

.footer-item:hover {
  font-weight: 600;
  transition-duration: 0.3s
}

.copy:hover {
  font-weight: 600;
  transition-duration: 0.3s
}

.sm-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  width: 155px;
}

.sm-bar > img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.sm-bar i {
  font-size: 40px;
  margin-left: 30px;
}
