.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #293241;
  color: white;
  padding-left: 70px;
  // padding-right: -40px;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  align-items: flex-start;
  list-style-type: none;
  // width: 100%;
  padding: 0;
  margin: 0;
  font-weight: 300;
}

.navbar-items-right {
  display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  align-items: flex-end;
  list-style-type: none;
  // width: 100%;
  padding: 0;
  // margin: 0;
  font-weight: 300;
}

.navbar-item:hover {
  font-weight: 600;
  transition-duration: 0.3s
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  width: 250px;
  margin-top: 20px;
}

.logo-placeholder {
  font-size: 40px;
  font-weight: 500;
  transition-duration: 0.3s;
}
