.navbar {
  display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #293241;
  color: white;
  // padding-left: 70px;
  padding-right: 70px;
}

.navbar-brand {
  display: flex;
}

.navbar-items-left {
  display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  // align-items: center;
  list-style-type: none;
  // width: 300px;
  // padding: 0;
  // margin: 0;
  // font-weight: 300;
  margin-top: 10px;
  font-size: 40px;
  font-weight: 500;
}

.navbar-items-left .navbar-brand img {
  object-fit: cover;
  width: 70px;
  height: 100%;
  margin-right: 5px;
  // margin-top: 12px;
}

.navbar-items-center {
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
  // align-items: center;
  list-style-type: none;
  width: 400px;
  // padding-left: 20px;
  // padding-right: 20px;
  // margin: 0;
  margin-right: 120px;
  margin-bottom: 30px;
  font-weight: 300;
}

.navbar-items-right {
  display: flex;
  // flex-direction: row;
  // justify-content: space-around;
  // align-items: flex-end;
  list-style-type: none;
  // width: 100%;
  // padding: 0;
  // margin: 0;
  margin-bottom: 30px;
  font-weight: 300;
}

.navbar-item:hover {
  font-weight: 600;
  transition-duration: 0.3s
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  // width: 250px;
  margin-top: 20px;
}

.logo-placeholder {
  font-size: 40px;
  font-weight: 500;
  transition-duration: 0.3s;
}

.avatar-bordered {
  margin-top: 10px;
  margin-left: 15px;
  border-radius: 50%;
}
