<div class="">
  <h1 style="margin: 24px 0px;">My Workout History:</h1>
</div>

  <div class="co-cards-container">
      <% @completed_workouts.each do |completed_workout|%>
        <div class="co-cards">
            <div class="co-image">
              <% workout = Workout.find(completed_workout.workout_id) %>
              <%= cl_image_tag(workout.photo.key) %>
            </div>
            <div class="co-name">
              <h1 class=""><%= workout.name %></h1>
            </div>
          <div class ="co-date">
            <p class="">Completed on: <strong><%= completed_workout.created_at.strftime("%b %e, %l:%M %p") %></strong></p>
          </div>
        </div>
      <% end %>
</div>
</div>
