<div class = cw_list_container>
  <ul>
    <% @completed_workouts.each do |completed_workout|%>
      <% workout = Workout.find_by(id: completed_workout.id)%>
      <li><%= workout.name%></li>
      <% end %>
  </ul>
</div>
